h1 {
    font-size: 20px;
    text-align: center;
    front-color: gray;
  }
  
 li::before {
  content: "::before";
  background: lightgray;
  border-radius: 1ch;
  padding-inline: 1ch;
  margin-inline-end: 1ch;
  }
  @media screen (min: width 500px) and (max-width:1024px){
   }
   .header {
     width: 800px;
     margin: 0 auto;
     padding: 0 10px 10px 10px
     border: 10px;
   }
   body {
    width: 600px;
    margin: 0 auto;
    background-color: #00ff9d;
    padding: 0 10px 10px 10px;
    border: 10px solid; aqua;
  }
  element {
    background-repeat: repeat;
}
img {
  object-position: top left;
  width: 200px;
  height: 200px;
  border: 1px solid; black;
}
<form>
<div class="fields">
    <div class="field half">
        <input type="text" name="name" id="name" placeholder="Name" />
    </div>
    <div class="field half">
        <input type="email" name="email" id="email" placeholder="Email" />
    </div>
    <div class="field">
        <textarea name="tasks needed" id="message" placeholder="Tasks Needed"></textarea>
    </div>
</div>
<ul class="actions">
    <li><input class="trigger_popup_fricc primary" type="submit" value="Send" /></li>
</ul>
</form>
<div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">X</div>
button {
    background-color: yellowgreen;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
}
